body {
  padding: 20px;
  text-align: center;
  background-color: antiquewhite;
}

nav > a {
  padding: 0 10px 10px 0;
  color: black;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
}

input {
  padding: 6x;
  font-size: 15px;
}

button {
  padding: 6px;
  margin-top: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}
